@page
@model EventManager.Pages.Events.CreateModel
@{
}

<h1>Добавить Мероприятие</h1>

<form method="post">
    <div>
        <label>Дата проведения</label><br />
        <input asp-for="Event.EventDate" type="date" />
    </div>

    <div>
        <label>Место проведения</label><br />
        <input asp-for="Event.location" />
    </div>

    <div>
        <label>Номер мероприятия</label><br />
        <input asp-for="Event.EventId"/>
    </div>
    <button type="submit">Сохранить</button>
</form>