@page "{id:int}"
@model EventManager.Pages.Events.DeleteModel
@{
}

<h1>Удалить мероприятие</h1>

<h3>Вы уверены?</h3>

<div>
    <p><strong>@Model.Event.Name</strong></p>
    <p>Дата: @Model.Event.EventDate.ToShortDateString()</p>
    <p>Место: @Model.Event.location</p>
    <p>Номер: @Model.Event.EventId</p>
</div>

<form method="post">
    <input type="hidden" asp-for="Event.Id" />
    <button type="submit">Удалить</button>
</form>

<a asp-page="Index">Отмена</a>