@page "{id:int}"
@model EventManager.Pages.Events.EditModel
@{
}

<h1>Редактировать мероприятие</h1>

<form method="post">
    <input type="hidden" asp-for="Event.Id" />

    <div>
        <label>Название</label><br />
        <input asp-for="Event.Name" />
    </div>

    <div>
        <label>Описание</label><br />
        <input asp-for="Event.Description" />
    </div>

    <div>
        <label>Дата проведения</label><br />
        <input asp-for="Event.EventDate" type="date" />
    </div>

    <div>
        <label>Место проведения</label><br />
        <input asp-for="Event.location" />
    </div>

    <div>
        <label>Номер мероприятия</label><br />
        <input asp-for="Event.EventId" type="number" />
    </div>

    <button type="submit">Сохранить</button>
</form>

<a asp-page="Index">Назад</a>